body {
  margin: 0;
  padding: 5px 0;
  font: normal 14pt courier new;
  text-align: center;
  color: #2b3a42;
}

.title {
  font-size: 24pt;
}

.vendors {
  width: 586px;
  height: 72px;
  line-height: 72px;
  overflow: hidden;
  margin: 0 auto;
  padding: 14px 0;
}

a {
  color: white;
}

a, .vendor {
  text-decoration: none;
}

.icon {
  height: 72px;
  float: left;
  margin-right: 30px;
  background-size: auto 72px;
  background-repeat: no-repeat;
  border: 0;
}

#webpack_icon {
  width: 72px;
  background-image: url('../web/img/webpack.svg');
}

#nodejs_icon {
  width: 120px;
  background-image: url('../web/img/nodejs.svg');
}

#docker_icon {
  width: 304px;
  background-image: url('../web/img/docker.svg');
}

.footer {
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  padding: 5px 0;
  color: white;
  background-color: #2b3a42;
}

.limiter {
  width: 190px;
  margin: 0 auto;
}

.copyright {
  width: 158px;
  float: left;
}

.repository {
  width: 32px;
  margin-left: 164px;
}

#github_icon {
  width: 32px;
  height: 32px;
  background: url('../web/img/github.svg') no-repeat;
  background-size: 32px 32px;
  border: 0;
}
